<div class="container" style="width:90%">
	<button type="button" class="btn btn-default fixed_width" style="width:6.5%" >订单ID</button>
	<button type="button" class="btn btn-default fixed_width" style="width:12.5%">下单时间</button>
	<button type="button" class="btn btn-default fixed_width" style="width:12.5%">更新时间</button>
	<button type="button" class="btn btn-default fixed_width" style="width:6.5%">下单人</button>
	<button type="button" class="btn btn-default fixed_width" style="width:12.5%">联系方式</button>
	<button type="button" class="btn btn-default fixed_width" style="width:10.5%">商品名</button>
	<button type="button" class="btn btn-default fixed_width" style="width:6.5%">商品ID</button>
	<button type="button" class="btn btn-default fixed_width" style="width:12.5%">所属教练</button>
	<button type="button" class="btn btn-default fixed_width" style="width:12.5%">订单状态</button>
	<div class="clear"></div>
	<order-list ng-repeat="(key,order) in orderList"></order-list>
</div>