<div class="container">
	<button type="button" class="btn btn-default fixed_width" style="width:10%" >ID</button>
	<button type="button" class="btn btn-default fixed_width" style="width:10%">用户命</button>
	<button type="button" class="btn btn-default fixed_width" style="width:10%">用户命称</button>
	<button type="button" class="btn btn-default fixed_width" style="width:10%">联系方式</button>
	<button type="button" class="btn btn-default fixed_width" style="width:15%">申请时间</button>
	<button type="button" class="btn btn-default fixed_width" style="width:10%">金额</button>
	<button type="button" class="btn btn-default fixed_width" style="width:10%">状态</button>
	<button type="button" class="btn btn-default fixed_width" style="width:15%">处理时间</button>
	<div class="clear"></div>
	<cash-list ng-repeat="(key,cash) in cashLIst"></cash-list>
</div>