<div class="addSiteInfo container">
	<div class="getsite">
		<label>输入地址</label>
		<input type="text" placeholder="输入地址" name="siteinfo"  ng-model="getsite.address">
		<button type="button" ng-click="searchAddress()">搜索</button>
	</div>
	<div id="allmap" style="width:100%;height:500px;" add-bmap></div>
</div>
<script>
	function saveAddress(){
    	var rep=$(".represent").val();
    	var coordinate=window.dataController.mapBrige.tempPoint;
    	var long=coordinate.lng;
    	var lat=coordinate.lat;
    	var name=rep;
    	$.post(BASE_URL+'/platform/operate/siteInfo/add',{
    		long:long,
    		lat:lat,
    		name:name
    	}).success(function(){
    		alert("添加成功");
    	}).error(function(){
    		alert("添加失败，请稍后重试");
    	})
    }
</script>