<div  class="login container">
	<div class="Login_detiles">
		<form  name="signin_form" novalidate ng-submit="signinForm()" class="login_form" >
			<label>Your Name</label>
			<input type="text" placeholder="Name" class="form-control form_control"  name="name" ng-model="signin.name" required />
			<br>
			<label>password</label>
			<input type="password" placeholder="Password" class="form-control form_control"  name="password" ng-model="signin.password" required />
			<button type="submit" class="btn btn-success login_submit">Submit</button>
		</form>
	</div>
</div >
