<input type="text" class="btn btn-default fixed_width" style="width:12%" ng-model="user.id"  ></input>
<input type="text" class="btn btn-default fixed_width" style="width:16%" ng-model="user.name" ></input>
<input type="text" class="btn btn-default fixed_width" style="width:16%" ng-model="user.phone" ></input>
<input type="text" class="btn btn-default fixed_width" style="width:16%" ng-model="user.driveSchool.name"></input>
<input type="text" class="btn btn-default fixed_width" style="width:20%" ng-model="user.site.address"></input>
<input type="text" class="btn btn-default fixed_width" style="width:16%" ng-model="user.studentNum"></input>