<section class="container">
	<div class="getUser">
		<form novalidate name="User_form" ng-submit="finaUser()" >
			<input class="form-control" style="float:left" placeholder="userPhone" ng-model="user.phone" />
			<button class="btn btn-default" type="submit"  style="float:left">提交</button>
		</form>
	</div>
	<div class="clear"></div>
	<div class="PhoneUser" ng-show="phone" ng-controller="fuckQiniu">
		<h2  class="phone_user" >该手机对应的用户为:</h2>
		<user-item></user-item>
	</div>
	
	<div class="getUsers" ng-controller="userItem">
		<div class="clear"></div>
		<div class="compline">
			<button  type="button" class="btn btn-default btn-lg margin" style="width:20%">用户_id</button>
			<button  type="button" class="btn btn-default btn-lg fixed_width" style="width:20%">用户</button>
			<button  type="button" class="btn btn-default btn-lg margin" style="width:20%">用户phone</button>
			<button  type="button" class="btn btn-default btn-lg margin" style="width:20%">创建日期</button>
		</div>
		<div class="clear"></div>
		<user-item ng-repeat="(key,user) in userItem"></user-item>
		<div class="clear"></div>
		<div class="getMore">
			<button class="btn btn-default" ng-click="getFirstPage()" ng-disable="firstPage">首页</button>
			<button class="btn btn-default" ng-click="getMoreUser('pre')" ng-disable="firstPage" >上一页</button>
			<button class="btn btn-default" ng-click="getMoreUser('next')" >下一页</button>
			<button class="btn btn-default" ng-click="getLastPage()" >尾页</button>
		</div>
	</div>
	<div class="thumbnail  userNumber"><button type="button" class="btn btn-success"><h1>{{number}}</h1></button></div>
</section>