<form name="signup_form" novalidate  class="myForm"  ng-submit="signupForm()">
	<span><input type="text" name="name" ng-model="opt.name" placeholder="name" required  /></span>
	<div class="error" ng-messages="signup_form.name.$error" ng-messages-multiple>
		<div ng-message="required" >请输入驾校名称</div>
	</div>
	<span><input type="text"  name="businessLicenseId" ng-model="opt.businessLicenseId" placeholder="idNumber" required /></span>
	<div class="error" ng-messages="signup_form.businessLicenseId.$error" ng-messages-multiple>
		<div ng-message="required">请输入营业执照</div>
	</div>
    <span><input type="text" name="tel" ng-model="opt.tel" required ng-minlength=11 ng-maxlength=11  placeholder="phone" /></span>
    <div class="error" ng-messages="signup_form.tel.$error" ng-messages-multiple>
		<div ng-message="required">请输入驾校电话</div>
		<div ng-message="minlength">wrong,you idiot</div>
		<div ng-message="maxlength">wrong,you idiot</div>
	</div>

    <span><input type="text" name="principal" ng-model="opt.principal" required  placeholder="chargeName"/></span>
    <div class="error" ng-messages="signup_form.principal.$error" ng-messages-multiple>
		<div ng-message="required">请输入负责人</div>
	</div>
    <span><input type="text" name="principalTel" ng-model="opt.principalTel" required ng-minlength="11" ng-maxlength="11"  placeholder="principalTel"/></span>
    <div class="error" ng-messages="signup_form.principalTel.$error" ng-messages-multiple>
		<div ng-message="required">请输入负责人电话</div>
		<div ng-message="minlength">wrong,you idiot</div>
		<div ng-message="maxlength">wrong,you idiot</div>
	</div>
    <span><input type="text" name="areaCode	" ng-model="opt.areaCode" required placeholder="areaCode"/></span>
    <div class="error" ng-messages="signup_form.areaCode.$error" ng-messages-multiple>
		<div ng-message="required">驾校ID</div>
	</div>
	<button type="submit" >submit</button>
</form>