<div class="clear"></div>
<div class="data_detile" >
	<input type="text" class="btn btn-default fixed_width" style="width:20%" ng-model="student.id"  ></input>
	<input type="text" class="btn btn-default fixed_width" style="width:20%" ng-model="student.name" ></input>
	<input type="text" class="btn btn-default fixed_width" style="width:20%" ng-model="student.phone" ></input>
	<input type="text" class="btn btn-default fixed_width" style="width:20%" ng-model="student.createDate"></input>
	<input type="text" class="btn btn-default fixed_width colorMust"  style="width:20%" ng-model="student.role" ></input>
</div>