<section class="container">
	<div class="zhexiantu" zh-xian>
		<p style="width:100%;font-size:24px;text-align:center;padding-top:12px;padding-bottom:12px">日活动情况概览</p>
		<div id="main" style="height:400px;width:100%;"></div>
		<p style="width:100%;font-size:24px;text-align:center;padding-top:12px;padding-bottom:12px">周活动情况概览</p>
		<div id="mainWeek" style="height:400px;width:100%;"></div>
		<p style="width:100%;font-size:24px;text-align:center;padding-top:12px;padding-bottom:12px">年活动情况概览</p>
		<div id="mainYear" style="height:400px;width:100%;"></div>
	</div>
</section>