<div class="container">
	<form name="check_form" novalidate ng-submit="initForm()" >
		<label>请输入名字</label>
		<input class="form-control" name="name" ng-model="init.name" placeholder="name" />
		<br>
		<label>请输入密码</label>
		<input class="form-control" name="password1" ng-model="init.password1" placeholder="password" />
		<br>
		<label>请确认密码</label>
		<input class="form-control" name="password2" ng-model="init.password2" placeholder="password" />
		<br>
		<button type="submit" class="btn btn-success">确认提交</button>
	</form>
</div>