<div class="thumbnail  userNumber"><button type="button" class="btn btn-success"><h1>{{number}}</h1></button></div>
<div class="clear"></div>
<div class="data_detile" >
	<input type="text" class="btn btn-default fixed_width" style="width:16%" ng-model="user.id"  ></input>
	<input type="text" class="btn btn-default fixed_width" style="width:16%" ng-model="user.name" ></input>
	<input type="text" class="btn btn-default fixed_width" style="width:16%" ng-model="user.phone" ></input>
	<input type="text" class="btn btn-default fixed_width" style="width:16%" ng-model="user.createDate"></input>
	<input type="text" class="btn btn-default fixed_width colorMust"  style="width:12%" ng-model="user.role" ></input>
	<input type="text" class="btn btn-default fixed_width colorMust"  style="width:8%" ng-model="user.coach.name" ng-show="user.role == 'student'"></input>
	<input type="text" class="btn btn-default fixed_width colorMust"  style="width:12%" ng-model="user.coach.phone" ng-show="user.role == 'student'"></input>
</div>
<div ng-controller="fuckQiniu" ng-show="user.role == 'coach'">
	<button type="submit" ng-click="postIdCardF(user)" class="btn btn-success" data-toggle="modal" data-target="{{'.bs-example-modal-lg-' + user.id}}" >查看详情</button>
	<div class="clear"></div>
	<div class="{{'modal fade bs-example-modal-lg-'+user.id}}"  role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg " >
		    <div class="modal-content">
		    	<p style="width:100%;font-size:24px;text-align:center;padding-top:24px;padding-bottom:24px">{{user.name}}教练</p>
		    	<div class="data_detile" style="width:100%;margin:0 auto" >
					<button type="text" class="btn btn-default fixed_width" style="width:16%"  >驾校</button>
					<button type="text" class="btn btn-default fixed_width" style="width:24%"  >训练场地</button>
					<button type="text" class="btn btn-default fixed_width" style="width:16%" >教学类型</button>
					<button type="text" class="btn btn-default fixed_width" style="width:16%" >拿驾照日期</button>
					<button type="text" class="btn btn-default fixed_width" style="width:10%" >学员数量</button>
					<button type="text" class="btn btn-default fixed_width" style="width:18%" >已传证件</button>
					<br>
					<div class="clear"></div>
					<input type="text" class="btn btn-default fixed_width" style="width:16%" ng-model="use.Dname" ></input>
					<input type="text" class="btn btn-default fixed_width" style="width:24%" ng-model="use.Dsite" ></input>
					<input type="text" class="btn btn-default fixed_width" style="width:16%" ng-model="use.teachType" ></input>
					<input type="text" class="btn btn-default fixed_width" style="width:16%" ng-model="use.coachLisenceDate"></input>
					<input type="text" class="btn btn-default fixed_width" style="width:10%" ng-model="use.studentNum"></input>
					<input type="text" class="btn btn-default fixed_width" style="width:18%" ng-model="use.photo"></input>
				</div>
				<div class="clear"></div>
				<!-- 显示活跃度的div -->
				<!-- do something -->
				<div id="main" style="height:400px;width:100%;"  zhe-xian></div>
				<div class="clear"></div>
				<p style="font-size:20px;padding:1em 1em 1em 1em">学员列表</p>
				<div class="compline">
					<button  type="button" class="btn btn-default btn-lg margin" style="width:20%">用户id</button>
					<button  type="button" class="btn btn-default btn-lg fixed_width" style="width:20%">用户</button>
					<button  type="button" class="btn btn-default btn-lg margin" style="width:20%">用户phone</button>
					<button  type="button" class="btn btn-default btn-lg margin" style="width:20%">创建日期</button>
					<button  type="button" class="btn btn-default btn-lg margin" style="width:20%">身份</button>
				</div>
				<student-list ng-repeat="(key,student)  in studentList"></student-list>
				<div class="clear"></div>
				<div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right">Close</button>
			    </div>
		    </div>
		</div>
	</div>
	<!-- <div class="photoList" ng-show="photoShow">
		
		<div class="data_detile" style="width:40%;margin-left:20%" ng-show="roleStutent">
			<button type="text" class="btn btn-default fixed_width" style="width:50%">已绑定的教练</button>
			<input type="text" class="btn btn-default fixed_width" style="width:50%" ng-model="use.coach" ></input>
		</div>
	</div> -->
</div>
<!-- <small  ng-show="Download.coachUrl">驾驶证</small>
	<img ng-src="{{Download.coachUrl}}" width="200" height="100" ng-show="Download.coachUrl"  class="zoom" > -->
	<!-- <div class="addPhote" ng-show="!user.lisence || !user.lisence.drive">
		<small style="float:left">添加驾驶证</small>
		<p class="should">watching model:</p>
	    <div class="button should" ngf-select ng-model="files" ngf-multiple="multiple">Select File</div>
	    <div class="filechange" ngf-select ngf-change="upload($files,'drive')" ngf-multiple="multiple" style="float:left">Select File</div>
		<p class="should">Upload Log:</p>
		<pre class="should">{{log}}</pre>
	</div> -->
	<!-- <small ng-show="Download.driveUrl" >教练证</small>
	<img ng-src="{{Download.driveUrl}}" width="200" height="100" ng-show="Download.driveUrl" class="zoom" > -->
	<!-- <div class="addPhote" ng-show="!user.lisence || !user.lisence.coach">
		<small style="float:left">添加教练证</small>
		<p class="should">watching model:</p>
	    <div class="button should" ngf-select ng-model="files" ngf-multiple="multiple">Select File</div>
	    <div class="filechange" ngf-select ngf-change="upload($files,'coach')" ngf-multiple="multiple" style="float:left">Select File</div>
		<p class="should">Upload Log:</p>
		<pre class="should">{{log}}</pre>
	</div> -->
	<!-- <small ng-show="Download.identityUrl" >身份证</small>
	<img ng-src="{{Download.identityUrl}}" width="200" height="100" ng-show="Download.identityUrl" class="zoom"> -->
	<!-- <div class="addPhote" ng-show="!user.lisence || !user.lisence.identity">
		<small style="float:left" >添加身份证</small>
		<p class="should">watching model:</p>
	    <div class="button should" ngf-select ng-model="files" ngf-multiple="multiple">Select File</div>
	    <div class="filechange" ngf-select ngf-change="upload($files,'identity')" ngf-multiple="multiple" style="float:left">Select File</div>
		<p class="should">Upload Log:</p>
		<pre class="should">{{log}}</pre>
	</div> -->

