<forall></forall>
<section class="signalstutent">
	<div class="container">
		<div class="stutent">
			<div  class="student_rule">
				<span>name</span>
				<span>phone</span>
				<span>idNumber</span>
			</div>
			<div  class="new-onput" style="display:none"></div>
			<form  name="stutent_form" novalidate ng-submit="stutentForm()" >
				<input type="text" placeholder="Name"  name="name" ng-model="stutent.name" ng-minlength="1" ng-maxlength="20" required />
				<div class="error" ng-show="stutent_form.name.$dirty && stutent_form.name.$invalid && stutent_form.submitted" >
					<small class="error" ng-show="stutent_form.name.$error.required">sure you enter your name</small>
					<small class="error" ng-show="stutent_form.name.$error.minlength"> your name must be at least 3 characters</small>
					<small class="error" ng-show="stutent_form.name.$error.maxlength">your name can not be longer than 20 characters</small>
				</div>
				<input type="text" placeholder="手机号"  name="telphone" ng-model="stutent.telphone" ng-minlength="11" ng-maxlength="11" required />
				<div class="error" ng-show="stutent_form.telphone.$dirty && stutent_form.telphone.$invalid && stutent_form.submitted">
					<small class="error" ng-show="stutent_form.telphone.$error.required">sure you enter your idNumber</small>
					<small class="error" ng-show="stutent_form.telphone.$error.minlength"> your name must be at least 11 characters</small>
					<small class="error" ng-show="stutent_form.telphone.$error.maxlength">your name can not be longer than 11 characters</small>
				</div>
				<input type="text" placeholder="身份证"  name="idNumber" ng-model="stutent.idNumber" ng-minlength="18" ng-maxlength="18" required />
				<div class="error" ng-show="stutent_form.idNumber.$dirty && stutent_form.idNumber.$invalid && stutent_form.submitted">
					<small class="error" ng-show="stutent_form.idNumber.$error.required">sure you enter your idNumber</small>
					<small class="error" ng-show="stutent_form.idNumber.$error.minlength"> your name must be at least 18 characters</small>
					<small class="error" ng-show="stutent_form.idNumber.$error.maxlength">your name can not be longer than 18 characters</small>
				</div>
				<button type="submit" ng-disabled="stutent_form.$invalid">Submit</button>
			</form>
		</div>
	</div>
</section>