<section>
	<div class="addjobs0">
		<div class="jobs_detile">
			<form name="jobs_form" novalidate ng-submit="jobsForm()">
				<label>职位名字</label>
				<input type="text" placeholder="职位名字" ng-model="jobs.name" />
				<br>
				<label>职位描述</label>
				<input type="text" placeholder="职位描述" ng-model="jobs.describle" />
				<br>
				<label>职位职责</label>
				<input type="text" placeholder="职位职责" ng-model="jobs.duty" />
				<br>
				<label>职位工资</label>
				<input type="text" placeholder="职位工资" ng-model="jobs.pay" />
				<br>
				<label>职位图片</label>
				<input  ng-model="jobs.imgName"  type="text" placeholder="职位图片" /> 
				<br>
			</form>
		</div>
	</div>
</section>