<div class=".col-md-8">
	<form  name="jobsList" novalidate ng-submit="reviseJobs(job)">
		<p class="should">watching model:</p>
    	<div class="button should" ngf-select ng-model="files" ngf-multiple="multiple">Select File</div>
		<div class="jobs_image">
			<img ng-src="{{job.url}}" class="filechange" ngf-select ngf-change="upload($files)" ngf-multiple="multiple">
		</div>
		<p class="should">Upload Log:</p>
		<pre class="should">{{log}}</pre>
		<pre class="should" >{{jobs.imgName}}</pre>
		<div class="job_word">
			<input ng-model="job.name"  type="text" />
			<input ng-model="job.describle" type="text" />
			<input ng-model="job.duty" type="text" />
			<input ng-model="job.pay" type="text" />
		</div>
		<button type="submit" >确认保存</button>
	</form>
</div>