<header id="top" class="navbar navbar-static-top bs-docs-nav" role="banner"> 
	<div class="container-fulid">
		<div class="navbar-header">
			<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="../" class="navbar-brand">去学车-平台端</a>
		</div>
		<nav class="collapse navbar-collapse bs-navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/platform/entering" title="录入驾校">录入驾校</a></li>
				<li><a href="/platform/login" title="登录">登录</a></li>
				<li><a href="/platform/initAdmin" title="初始化">初始化</a></li>
				<li><a href="/platform/rePwd" title="修改密码">修改密码</a></li>
				<li><a href="/platform/addSiteInfo" title="添加场地信息">添加场地信息</a></li>
				<li><a href="/platform/getSiteInfo" title="获取场地信息">获取场地信息</a></li>
				<li><a href="/platform/addjobs" title="添加职位">添加职位</a></li>
				<li><a href="/platform/getjobs" title="获取职位">获取职位</a></li>
				<li><a href="/platform/reviseJob" title="修改职位">修改职位</a></li>
				<li><a href="/platform/LookTest" title="查看测试人员">查看测试人员</a></li>
				<li><a href="/platform/searchUser" title="寻找用户">寻找用户</a></li>
			</ul>
		</nav>
	</div>
</header>
<ui-view name="menuContent">
	傻逼小华
</ui-view>